body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
body img {
  border-radius: 20px;
}
.main-bg {
  background: #7a8085;
  color: white;
  text-align: center;
  padding: 4em;
}
.main-bg h3 {
  font-size: 2.5rem;
  margin-bottom: 2em;
}
section {
  margin: 0 1em;
}
.logo-position img {
  border-radius: 50px;
}
.logo-position {
  text-align: left;
}
.salad-section {
  background: #ceebe5;
  padding: 4em;
  margin: 2em -1em 0;
}
.middle {
  padding: 4em;
}
.end {
  padding: 4em;
}

.up-photoes img {
  width: 50%;
}
.art img {
  width: 50%;
}
.end img {
  width: 30%;
}
.cat img {
  width: 25%;
}
.cat {
  text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 25vh;
}
.first{
    width: 100px;
    height: 50px;
    border: none;
    color: #b0afec;
    background-color: beige;
    border-radius: 50px;
    box-shadow: inset 0 0 0 0 #b0afec;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}
.first:hover{
    box-shadow: inset 100px 0 0 0 #b0afec;
    cursor: pointer;
    color: aliceblue;
}

.second{
    width: 100px;
    height: 50px;
    border: none;
    color: #b0afec;
    border-radius: 50px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    position: relative;
    z-index: 1;
    background-color: beige;
}
.second:hover{
    color: white;
    cursor: pointer;
}
.second:before{
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: white;
    border: none;
}
.second:hover:before{
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media screen and (max-width: 320px){
    .up-photoes{
        font-size: 1.2rem;

    }
    .up-photoes h3{
        font-size: 0.8rem;
    }

}
